body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}
p{
    font-size: 14px;
}

.carousel-item{
    object-fit: cover;
    height: 400px;
    width: 100%;
}
.container-menu{
    position: relative; /* position не должен быть static */
    z-index: 999;
}

#sidebar {
    position: fixed;
    top: auto;
}
.carousel-inner{
    height: 450px;
}

.card-img-top{
    width: 600px;
    height: 200px;
}
.row{
    display: flex;
    flex-direction: row;
}
