table, th, td{
    border: 1px solid #515050;
    border-collapse: collapse;
    color: #000;
    padding: 14px;
}

th{
    background-color: #a9a9a9;
    font-weight: 400;
    text-align: left;
}

td{
    background-color: #c4e385c8;
    text-align: center;
}
caption{
    font-size: 40px;
    color: #5a6a3b;
}
/* Нечетные строки */
tbody tr:nth-child(odd){
	background: #c4e385c8;
}
 
/* Четные строки */
tbody tr:nth-child(even){
	background: #abc27cc8;
}
